/* Quote Section */
.about-quote {
  background-color: #e5ebf3;
  padding: 6rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-quote__content {
  max-width: 1000px;
  text-align: center;
}

.about-quote__emphasis {
  font-weight: 700;
}

.about-quote__grace {
  font-style: italic;
}

.about-quote__divider {
  width: 300px;
  height: 2px;
  background-color: #1a1a1a;
  margin: 7rem auto 0;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .about-quote {
    padding: 5rem 1.5rem;
  }

  .about-quote__text {
    margin: 0 0 2rem 0;
  }

  .about-quote__divider {
    width: 200px;
  }
}
