.action-cards {
  background-color: var(--bg-light);
  padding: 0 clamp(1.5rem, 5vw, 4rem) clamp(4rem, 10vw, 7rem);
}

@media (max-width: 768px) {
  .action-cards {
    padding: 0 2rem 4rem;
  }
}

@media (min-width: 769px) {
  .action-cards .card-carousel__arrow {
    display: none;
  }
}
