.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 16px;
  padding: 12px 24px;
  font-weight: 500;
  line-height: 1.2;
  border: 1px solid transparent;
  transition: background-color 0.15s ease, color 0.15s ease,
    border-color 0.15s ease, box-shadow 0.15s ease;
  text-decoration: none;
  cursor: pointer;
}


/* ------------------ VARIANTS ------------------ */

.btn__primary {
  background-color: #E3E8EE;
  color: #142844;
}

.btn__primary:hover {
  background-color: #C2A878;
  color: #142844;
}

.btn__secondary {
  background-color: #142844;
  color: #FFFFFF;
}

.btn__secondary:hover {
  background-color: #C2A878;
  color: #142844;
}

.btn__tertiary {
  background-color: transparent;
  color: #000000;
  border: 1px solid #000000;
}

.btn__tertiary:hover {
  background-color: #4A5D73;
  color: #FFFFFF;
  border-color: #4A5D73;
}