.image-block {
  background: #E3E8EE;
}

.image-block__container {
  max-width: 1500px;             /* same as overview__container */
  margin: 0 auto;                /* center container */
  padding: 0 8rem 8rem 8rem; /* same padding as overview */
  display: grid;
  justify-items: start;          /* left-align image inside container */
}

.image-block__img,
.image-block__placeholder {
  width: 100%;
  max-width: 640px;              /* same as old right column */
  height: 100%;
  border-radius: 18px;
  object-fit: cover;
  display: block;
  justify-self: start;
  margin-top: clamp(0.5rem, 3vw, 1.5rem);
}

/* Responsive */
@media (max-width: 1000px) {
  .image-block__container {
    padding: 6rem
  }

  .image-block__img,
  .image-block__placeholder {
    max-width: 100%;
    height: 100%;
    justify-self: stretch;
    margin-top: 1rem;
  }
}
