.overview {
  background-color: #E3E8EE;
}
.overview__container {
  max-width: 1500px;
  display: flex;            /* side-by-side layout */
  gap: 6rem;                /* space between left and right */
  align-items: flex-start;
  padding: clamp(3rem, 8vw, 10rem) 8rem;
  align-items: stretch;
  margin: 0 auto;
}

/* Left and Right sections */
.overview__left,
.overview__right {
  min-height: 300px;
  flex-direction: column;
}

.overview__left {
  flex: 1;
}

.overview__right {
  flex: 1;
}

.overview__subtitle {
    font-size: clamp(2.5rem, 2vw, 2.5rem);
    letter-spacing: 0.03em;
    padding-bottom: 3rem;
}

.overview__desc {
    margin-top: auto;
    font-weight: 300;
    font-size: clamp(2rem, 5vw, 2rem);
    letter-spacing: 0.03em;
}

.overview__mission-text {
    font-size: clamp(1.20rem, 2vw, 1.50rem);
    padding-bottom: 4rem;
    line-height: 1.3;
    font-weight: 300;
}

.overview__contact-button {
    display: inline-flex;
    margin-top: auto;
    border-width: 2px;
    border-color: black;
    border-radius: 36px;
    gap: 10px;
    padding: 10px 20px;
    width: fit-content;
    height: fit-content;
    font-size: 24px;
}

.overview__contact-button:hover {
  background-color: rgba(0, 0, 0, 0.05); /* very light gray */
}


@media (max-width: 1000px) {
  .overview__container {
    flex-direction: column;
    gap: 5rem;
  }

  .overview__desc {
    margin-top: 0;
    padding-top: 2rem;
  }

  .overview__right {
    position: relative;
    padding-top: 5rem;
  }

  .overview__right::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
