.overview {
  background-color: var(--bg-light);
}
.overview__container {
  max-width: 1500px;
  display: flex;            /* side-by-side layout */
  gap: 4rem;                /* space between left and right */
  align-items: flex-start;
  padding: clamp(3rem, 8vw, 10rem) clamp(1.5rem, 18vw, 14rem);
  align-items: stretch;
  margin: 0 auto;
}

/* Left and Right sections */
.overview__left,
.overview__right {
  min-height: 700px;
  height: 700px;
  flex-direction: column;
}

.overview__left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.overview__right {
  flex: 1;
  overflow: hidden;
}

.overview__left .btn {
  align-self: flex-start;
}

.overview__subtitle.eyebrow {
  display: flex;
  align-items: center;
  gap: 1rem;
  letter-spacing: 0.03em;
  padding-bottom: 1.5rem;
  font-weight: 500;
}

/* The line */
.overview__subtitle::after {
  content: "";
  height: 1px;
  background: rgba(0, 0, 0, 1);

  flex: 1;                /* line expands to fill remaining space */
  margin-left: 8px;       /* extra padding if you want */
}

.overview__desc {
    margin-top: 0;
    margin-bottom: 0;
}

.overview__mission-text {
    font-size: clamp(1.20rem, 2vw, 1.50rem);
    padding-bottom: 0.75rem;
    line-height: 1.5 !important;
    margin-top: auto;
    margin-bottom: 1.5rem;
}

.overview__contact-button:hover {
  background-color: rgba(0, 0, 0, 0.05); /* very light gray */
}

.overview__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin-left: auto;  /* pushes image to the right side */
  border-radius: 16px;
}

@media (max-width: 1200px) {
  .overview__container {
    flex-direction: column;
    gap: 5rem;
  }

  .overview__left,
  .overview__right {
    min-height: 0;
    height: auto;
  }

  .overview__mission-text {
    margin-top: 0;
  }

  .overview__desc {
    margin-top: 0;
    padding-top: 2rem;
  }

  .overview__right {
    position: relative;
    padding-top: 5rem;
    overflow: visible;
  }

  .overview__image {
    height: auto;
  }
}
